/*.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}*/

/* Typography */

h1 {
  font-family: "Playfair Display", serif;
  color: #336E7B;
}

h2 {
  font-family: Lato, sans-serif;
}

.x-move {
  width: 100%;
}

.o-move {
  color: black;
  width: 100%;
}

/* General */

body {
  background-color: #D2D7D3;
  padding-bottom: 2em;
}

.game-view {
  text-align: center;
}

.button-container {
  margin-top: 2em;
}

/* Board style */

#board>.row {
  margin-bottom: 0;
}

.spot {
  font-size: 4em;
  text-align: center !important;
}

.top {
  border-bottom: 2px solid black;
}

.bottom {
  border-top: 2px solid black;
}

.left {
  border-right: 2px solid black;
}

.right {
  border-left: 2px solid black;
}

/* Menu */

.switch {
  padding-top: 14px;
}

.switch {
  padding-top: 14px;
}
