.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

body {
  background-color: #D2D7D3;
}

h1 {
  font: 3em "Playfair Display", serif;
  color: #336E7B;
}

h2 {
  font: 2em Lato, sans-serif;
}

.game-view {
  text-align: center;
}

#board {
  margin: 0 auto;
}

td {
  font-size: 3em;
  font-family: "Playfair Display", serif;
}

td.grid_3 {
  width: 100px;
  height: 100px;
  background-color: #ECECEC;
  margin: 2em;
}

.game-view {
  text-align: center;
}

#board {
  margin: 0 auto;
}

td {
  font-size: 3em;
  font-family: "Playfair Display", serif;
}

.human-move {
  color: #336E7B;
}
